###
### Barracuda version BOA-2.1.3
###
### Configuration stored in the /root/.barracuda.cnf file.
### This example is for public install mode - see docs/INSTALL.txt
###
### NOTE: the group of settings displayed bellow will *not* be overridden
### on upgrade by the Barracuda script nor by this configuration file.
### They can be defined only on initial Barracuda install.
###
_HTTP_WILDCARD=YES #------------ Listen on single IP instead of all IPs when NO
_MY_OWNIP="123.45.67.89" #------ Allows to specify web server IP if not default
_MY_HOSTN="f-q-d-n" #----------- Allows to define server hostname
_EASY_HOSTNAME="f-q-d-n" #------ Hostname auto-configured via _EASY_PUBLIC
_MY_FRONT="master.f-q-d-n" #---- URL of the Aegir Master Instance control panel
_THIS_DB_HOST=localhost #------- Allows to use hostname in DB grants when FQDN
_SMTP_RELAY_TEST=YES #---------- Allows to skip SMTP availability tests when NO
_SMTP_RELAY_HOST="" #----------- Allows to configure simple SMTP relay (w/o pwd)
_LOCAL_NETWORK_IP="" #---------- Web server IP if in localhost mode - auto-conf
_LOCAL_NETWORK_HN="" #---------- Hostname if in localhost mode - auto-conf
###
### NOTE: the group of settings displayed bellow
### will *override* all listed settings in the Barracuda script,
### both on initial install and upgrade.
###
_MY_EMAIL="my@email" #---------- System admin e-mail
_XTRAS_LIST="" #---------------- See docs/NOTES.txt for details on add-ons
_AUTOPILOT=NO #----------------- Allows to skip all Yes/No questions when YES
_SYSTEM_UPGRADE_ONLY=NO #------- Allows to skip Aegir on upgrade (deprecated)
_AEGIR_UPGRADE_ONLY=NO #-------- Allows to skip system on Aegir upgrade when YES
_DEBUG_MODE=NO #---------------- Allows to enable Drush debugging when YES
_DB_SERVER=MariaDB #------------ Allows to install MariaDB or Percona DB server
_DB_BINARY_LOG=NO #------------- Allows to enable binary logging when YES
_DB_ENGINE=InnoDB #------------- Allows to specify default engine for Drupal 6
_SSH_PORT=22 #------------------ Allows to configure non-standard SSH port
_LOCAL_DEBIAN_MIRROR= #--------- Allows to force non-default Debian mirror
_LOCAL_UBUNTU_MIRROR= #--------- Allows to force non-default Ubuntu mirror
_FORCE_GIT_MIRROR="" #---------- Allows to use different mirror (deprecated)
_DNS_SETUP_TEST=YES #----------- Allows to skip DNS testing when NO
_NGINX_WORKERS=AUTO #----------- Allows to override AUTO with valid number
_NGINX_DOS_LIMIT=300 #---------- Allows to override default 250/300 limit
_BUILD_FROM_SRC=NO #------------ Allows to force PHP build from sources
_PHP_MODERN_ONLY=YES #---------- Allows to install PHP 5.2 when NO
_PHP_FPM_VERSION=5.3 #---------- Allows to define PHP-FPM version: 5.{2,3,4,5}
_PHP_CLI_VERSION=5.3 #---------- Allows to define PHP-CLI version: 5.{2,3,4,5}
_PHP_FPM_WORKERS=AUTO #--------- Allows to override AUTO with valid number
_PHP_ZEND_OPCACHE=YES #--------- Allows to install deprecated APC when NO
_NGINX_EXTRA_CONF="" #---------- Allows to add custom options to Nginx build
_NGINX_LDAP=NO #---------------- Installs LDAP Nginx support when YES
_NGINX_NAXSI=YES #-------------- Installs Nginx NAXSI WAF when YES (default)
_NGINX_SPDY=NO #---------------- Installs SPDY Nginx support when YES
_NGINX_FORWARD_SECRECY=NO #----- Installs PFS Nginx support when YES
_PHP_GEOS=NO #------------------ Installs GEOS for PHP when YES - experimental
_PHP_MONGODB=NO #--------------- Installs MONGODB for PHP when YES
_PHP_EXTRA_CONF="" #------------ Allows to add custom options to PHP build
_LOAD_LIMIT_ONE=1444 #---------- Defines max 1 min load before disabling Nginx
_LOAD_LIMIT_TWO=888 #----------- Defines max 5 min load before disabling Nginx
_CUSTOM_CONFIG_CSF=NO #--------- Protects custom CSF config when YES
_CUSTOM_CONFIG_SQL=NO #--------- Protects custom SQL config when YES
_CUSTOM_CONFIG_REDIS=NO #------- Protects custom Redis config when YES
_CUSTOM_CONFIG_PHP_5_2=NO #----- Protects custom PHP 5.2 ini files when YES
_CUSTOM_CONFIG_PHP_5_3=NO #----- Protects custom PHP 5.3 ini files when YES
_SPEED_VALID_MAX=3600 #--------- Defines Speed Booster hourly cache TTL in sec
_USE_MEMCACHED=NO #------------- Installs memcached when YES (deprecated)
_NEWRELIC_KEY= #---------------- Installs New Relic when license key is set
_USE_STOCK=NO #----------------- Allows to install stock Aegir 2.x when YES
_EXTRA_PACKAGES="" #------------ Installs listed extra packages with apt-get
_STRONG_PASSWORDS=NO #---------- Allows to generate secure passwords when YES
_PERMISSIONS_FIX=NO #----------- Allows to fix permissions daily when YES
_MODULES_FIX=YES #-------------- Will skip modules enabling/disabling when NO
_MODULES_SKIP="" #-------------- Modules (machine names) to never auto-disable
_SSL_FROM_SOURCES=NO #---------- Allows to force OpenSSL build from sources
_SSH_FROM_SOURCES=NO #---------- Allows to force OpenSSH build from sources
_RESERVED_RAM=0 #--------------- Allows to reserve RAM (in MB) for non-BOA apps
###
### Barracuda version BOA-2.1.3
###


###
### Extra, special purpose settings are listed below.
###
### NOTE: the group of settings displayed bellow is never stored
### permanently in this config file, since they are intended to be used
### only when required/useful for some reason, and while can be added
### manually before running barracuda up-{stable|head} command,
### they will be either removed automatically to not affect
### normal upgrades, or ignored afterwards.
###

###
### HINT: Check also control files docs in: docs/ctrl/system.ctrl
###

###
### You can force Nginx, PHP and/or DB server
### reinstall, even if there are no updates
### available, when set to YES.
###
_NGX_FORCE_REINSTALL=NO
_PHP_FORCE_REINSTALL=NO
_SQL_FORCE_REINSTALL=NO

###
### Use YES to force installing everything
### from sources again, even if there are
### no updates available.
###
_FULL_FORCE_REINSTALL=NO

###
### Use YES to run major system upgrade
### from Debian Squeeze to Debian Wheezy.
###
_SQUEEZE_TO_WHEEZY=NO

###
### Use YES to run major system upgrade
### from Debian Lenny to Debian Squeeze.
###
_LENNY_TO_SQUEEZE=NO

###
### Use YES to run migration from Tomcat 6
### to Jetty 7 with Apache Solr 1.4.1
### See also docs/SOLR.txt
###
_TOMCAT_TO_JETTY=NO

