###
### Octopus
###
### Configuration stored in the /root/.${_USER}.octopus.cnf file.
### This example is for public install mode - see docs/INSTALL.md
###
### NOTE: the group of settings displayed below
### will *override* all listed here settings in the Octopus script.
###
_USER="o1" #-------------------- Aegir Instance system account name
_MY_EMAIL="my@email" #---------- Aegir Instance owner email
_PLATFORMS_LIST=ALL #----------- Platforms to install - see docs/PLATFORMS.md
_AUTOPILOT=NO #----------------- Allows to skip all Yes/No questions when YES
_HM_ONLY=NO #------------------- Allows to upgrade Aegir Hostmaster only
_DEBUG_MODE=NO #---------------- Allows to enable Drush debugging when YES
_MY_OWNIP= #-------------------- Allows to specify web server IP if not default
_FORCE_GIT_MIRROR="" #---------- Allows to use different mirror (deprecated)
_THIS_DB_HOST=localhost #------- DB host depends on Barracuda setting (FQDN)
_DNS_SETUP_TEST=YES #----------- Allows to skip DNS testing when NO
_HOT_SAUCE=NO #----------------- Forces new platforms tree on install when YES
_USE_CURRENT=YES #-------------- Forces new platforms tree on upgrade when NO
_DEL_OLD_EMPTY_PLATFORMS="0" #-- Delete empty platforms if verified > X-days-ago
_DEL_OLD_BACKUPS=0 #------------ Delete Aegir/b-migrate backups if > X-days-ago
_DEL_OLD_TMP=0 #---------------- Delete sites temp files if > X-days-ago
_LOCAL_NETWORK_IP= #------------ Web server IP if in localhost mode - auto-conf
_PHP_FPM_VERSION=8.3 #---------- PHP-FPM for Satellite Instance
_PHP_CLI_VERSION=8.3 #---------- PHP-CLI for Satellite Instance
_PHP_FPM_WORKERS=AUTO #--------- Allows to override AUTO with a valid integer
_PHP_FPM_TIMEOUT=AUTO #--------- Allows to override default 180 when 60-180
_PHP_FPM_DENY="" #-------------- Modify the disable_functions list per instance
_STRONG_PASSWORDS=YES #--------- Configurable length: 32-128, YES (64), NO (32)
_SQL_CONVERT=NO #--------------- DB conversion when innodb (or YES), or myisam
_RESERVED_RAM=0 #--------------- Allows to reserve RAM (in MB) for non-BOA apps
_SITES_COLLATION_SQL= #--------- By default in sites hosted: utf8mb4_unicode_ci
###
### NOTE: the group of settings displayed below will be *overridden*
### by config files stored in the /data/disk/o1/log/ directory,
### but only on upgrade.
###
_DOMAIN="o1.f-q-d-n" #---------- URL of the Aegir control panel
_CLIENT_EMAIL= #---------------- Create client user if different than _MY_EMAIL
_CLIENT_OPTION="POWER" #-------- Currently not used
_CLIENT_SUBSCR="M" #------------ Currently not used
_CLIENT_CORES="1" #------------- Currently not used
###
### Octopus
###

###
### HINT: Check also control files docs in: docs/ctrl/system.ctrl
###

###
### Extra, special purpose control files are listed below.
###
### NOTE: the group of control files listed below are intended to be used
### by the instance owner to *overwrite* some settings stored in the
### /root/.${_USER}.octopus.cnf file without system admin (root) assistance.
###

Aegir version provided by BOA is now fully compatible with PHP 8.0 and 8.1,
so both can be used as default versions in the Aegir PHP configuration files:
~/static/control/cli.info and ~/static/control/fpm.info

!!! >>> PHP CAVEATS for Drupal core 7-10 versions:

  => https://www.drupal.org/docs/7/system-requirements/php-requirements
  => https://www.drupal.org/docs/system-requirements/php-requirements

###
### /data/disk/${_USER}/static/control/fpm.info
###
### This file, if exists and contains supported and installed PHP-FPM version
### will be used by running every minute /var/xdrago/manage_ltd_users.sh
### maintenance script to switch PHP-FPM version for this Octopus instance,
### if different than defined in the /root/.${_USER}.octopus.cnf file, in the
### _PHP_FPM_VERSION variable. It will also overwrite _PHP_FPM_VERSION value
### there to avoid doing it over and over again every 5 minutes.
###
### IMPORTANT: If used, it will switch PHP-FPM for all Drupal sites
### hosted on the instance, unless multi-fpm.info control file exists.
###
### Supported values for single PHP-FPM mode which can be written in this file:
###
### 8.3
### 8.2
### 8.1
### 8.0
### 7.4
### 7.3
### 7.2
### 7.1
### 7.0
### 5.6
###
### NOTE: There must be only one line and one value in this control file.
### Otherwise it will be ignored.
###
### NOTE: if the file doesn't exist, the system will create it and set to the
### lowest available PHP version installed, not to the system default version.
### This is to guarantee backward compatibility for instances installed
### before upgrade to BOA-4.1.3, when the default PHP version was 5.6,
### as otherwise after the upgrade the system would automatically switch such
### accounts to the new default PHP version which is 8.1, and this could break
### most of the sites hosted, never before tested for PHP 8.1 compatibility.
###

###
### /data/disk/${_USER}/static/control/multi-fpm.info
###
### It is now possible to make all installed PHP-FPM versions available
### simultaneously for sites on the Octopus instance with additional
### control file:
###
### This file, if exists, will switch all sites listed in it to their
### respective PHP-FPM versions as shown in the example below, while all
### other sites not listed in multi-fpm.info will continue to use PHP-FPM
### version defined in fpm.info instead, which can be modified independently.
###
### foo.com 8.1
### bar.com 7.4
### old.com 5.6
###
### NOTE: Each line in the multi-fpm.info file must start with main site name,
### followed by single space, and then the PHP-FPM version to use.
###

###
### /data/disk/${_USER}/static/control/cli.info
###
### This file, if exists and contains supported and installed PHP version
### will be used by running every minute /var/xdrago/manage_ltd_users.sh
### maintenance script to switch PHP-CLI version for this Octopus instance,
### if different than defined in the /root/.${_USER}.octopus.cnf file, in the
### _PHP_CLI_VERSION variable. It will also overwrite _PHP_CLI_VERSION value
### there to avoid doing it over and over again every 5 minutes.
###
### Supported values which can be written in this file:
###
### 8.3
### 8.2
### 8.1
### 8.0
### 7.4
### 7.3
### 7.2
### 7.1
### 7.0
### 5.6
###
### There must be only one line and one value in this control file.
### Otherwise it will be ignored.
###
### NOTE: if the file doesn't exist, the system will create it and set to the
### lowest available PHP version installed, not to the system default version.
### This is to guarantee backward compatibility for instances installed
### before upgrade to BOA-4.1.3, when the default PHP version was 5.6,
### as otherwise after the upgrade the system would automatically switch such
### accounts to the new default PHP version which is 8.1, and this could break
### most of the sites hosted, never before tested for PHP 8.1 compatibility.
###
### IMPORTANT: this file will affect only Drush on command line and Drush
### in Aegir backend, used for all tasks on hosted sites, but it will not
### affect PHP-CLI version used by Composer on command line, because Composer
### is installed globally and not per Octopus account, so it will use system
### default PHP version, which is, since BOA-5.0.0, PHP 8.1 and can be
### changed only by changing system default _PHP_CLI_VERSION in the file
### /root/.barracuda.cnf and running barracuda upgrade.
###

###
### /data/disk/${_USER}/static/control/platforms.info
###
### This file, if exists and contains a list of symbols used to define supported
### platforms, allows to control/override the value of _PLATFORMS_LIST variable
### normally defined in the /root/.${_USER}.octopus.cnf file, which can't be
### modified by the Aegir instance owner with no system root access.
###
### IMPORTANT: If used, it will replace/override the value defined on initial
### instance install and all previous upgrades. It takes effect on every future
### Octopus instance upgrade, which means that you will miss all newly added
### distributions, if they will not be listed also in this control file.
###
### Supported values which can be written in this file, listed in a single line
### or one per line:
###
####### Drupal 10.4 #####
### D104P D104S D104D --- Drupal 10.4 prod/stage/dev

####### Drupal 10.3 #####
### D103P D103S D103D --- Drupal 10.3 prod/stage/dev
### THR ----------------- Thunder
### VBX ----------------- Varbase 10

####### Drupal 10.2 #####
### D102P D102S D102D --- Drupal 10.2 prod/stage/dev
### SOC ----------------- Social
### VBE ----------------- Varbase 9

####### Drupal 10.1 #####
### D101P D101S D101D --- Drupal 10.1 prod/stage/dev

####### Drupal 10.0 #####
### D100P D100S D100D --- Drupal 10.0 prod/stage/dev

####### Drupal 9 ########
### D9P D9S D9D --------- Drupal 9 prod/stage/dev
### OLS ----------------- OpenLucius
### OPG ----------------- Opigno LMS

####### Drupal 7 ########
### D7P D7S D7D --------- Drupal 7 prod/stage/dev
### CME ----------------- Commerce v.2
### DCE ----------------- Commerce v.1
### UC7 ----------------- Ubercart

####### Drupal 6 ########
### D6P D6S D6D --------- Pressflow (LTS) prod/stage/dev
### UCT ----------------- Ubercart

### You can also use special keyword 'ALL' instead of any other symbols to have
### all available platforms installed, including newly added in all future BOA
### system releases.
###
### Examples:
###
### ALL
### D102P D103P SOC UC7
###
### IMPORTANT: Supported Drupal core versions and distributions have different
### PHP versions requirements, while not all PHP versions out of currently
### supported ten versions are installed by default.
###
### Ensure that you have corresponding PHP versions installed with barracuda
### before attempting to install older Drupal versions and distributions.
###
### On hosted BOA contact your host if you need any legacy PHP installed again.
###
