# AppArmor profile for Nginx server
# This profile restricts Nginx server (nginx) to essential operations only.

#include <tunables/global>

/usr/sbin/nginx flags=(complain) {

  # Include common AppArmor abstractions
  include <abstractions/base>
  include <abstractions/consoles>
  include <abstractions/dovecot-common>
  include <abstractions/nameservice>
  include <abstractions/postfix-common>
  include <abstractions/ssl_keys>

  # Capabilities needed by Nginx server
  capability dac_override,
  capability dac_read_search,

  # Allow read access to necessary libraries
  /lib/** mr,
  /lib64/** mr,
  /usr/lib/** mr,
  /usr/lib/x86_64-linux-gnu/** mr,
  /usr/local/include/** mr,
  /usr/local/lib/** mr,
  /usr/local/ssl/** mr,
  /usr/local/ssl3/** mr,

  # Allow execution of the nginx binary
  /usr/sbin/nginx mrix,

  # Allow read/write access to nginx specific directories and files
  /var/lib/nginx/** rw,
  /var/log/nginx/access.log w,
  /var/log/nginx/error.log w,
  /etc/nginx/** r,
  /etc/ssl/private/* r,
  /var/www/** r,

  # Specific directories used by Aegir (if applicable)
  /var/aegir/config/** r,
  /var/aegir/host_master/** r,
  /var/aegir/platforms/** r,

  /data/disk/*/aegir/** r,
  /data/disk/*/config/** r,
  /data/disk/*/distro/** r,
  /data/disk/*/platforms/** r,
  /data/disk/*/static/** r,
  /data/disk/*/tools/le/** r,

  # Additional specific directories
  /data/all/** r,
  /data/conf/* r,

  # Owner-specific directories and files
  owner /usr/fastcgi_temp/** rw,
  owner /usr/share/GeoIP/GeoIP.dat r,
  owner /proc/sys/kernel/random/boot_id r,
  owner /run/nginx.pid rw,
  owner /data/conf/ r,

  # Catchall to deny everything else
  deny /** rwklx,
}
