APT::Get::Assume-Yes "true";
APT::Get::Show-Upgraded "true";
APT::Get::Install-Recommends "false";
APT::Get::Install-Suggests "false";
APT::Quiet "true";
DPkg::Options {"--force-confnew";"--force-confmiss";};
DPkg::Pre-Install-Pkgs {"/usr/sbin/dpkg-preconfigure --apt";};
Dir::Etc::SourceList "/etc/apt/sources.list";
