[mysqld]

###
### Galera configuration template
### /etc/mysql/conf.d/galera.cnf
###

### Mandatory for Galera
#
binlog_format=ROW
#default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

### Recommended for Galera
#
innodb_flush_log_at_trx_commit=0
binlog_row_image=minimal

### Basic Galera Settings
#
# wsrep_provider=/usr/lib/galera/libgalera_smm.so
# wsrep_cluster_name="galera_cluster"
# wsrep_cluster_address="gcomm://192.168.0.1,192.168.0.2,192.168.0.3,...?pc.wait_prim=no"
# wsrep_sst_auth=wsrep:sCWL4tgEpyS5cLZITshxSTWRjhsUOeR6
# wsrep_provider_options='socket.checksum=1'

### Optional Galera Settings
#
# wsrep_node_address="192.168.0.1"
# wsrep_node_name="galera_node1"
# wsrep_slave_threads=8

### Optional Memory Settings for Galera
#
# gcs.recv_q_hard_limit=4G
# gcs.recv_q_soft_limit=2G
# gcs.max_throttle=0.25T

### Optional MyISAM Support in Galera
#
# wsrep_replicate_myisam=1
