[mysqld]

### Mandatory for Galera
#
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

### Recommended for Galera
#
innodb_flush_log_at_trx_commit=0

### Basic Galera Settings
#
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://10.31.2.27,10.31.2.28,10.14.2.27,10.14.2.28"
wsrep_sst_method=rsync

### Optional Galera Settings
#
# wsrep_node_address="10.31.2.27"
# wsrep_node_name="galera_node1"
# wsrep_node_incoming_address="10.31.2.28"
# wsrep_sst_donor="galera_node2"
# wsrep_slave_threads=8

### Optional Memory Settings for Galera
#
# gcs.recv_q_hard_limit=4G
# gcs.recv_q_soft_limit=2G
# gcs.max_throttle=0.25T

### Optional MyISAM Support in Galera
#
wsrep_replicate_myisam=1
